<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaolin.mapper.EmpMapper">
    <select id="listEmp" resultType="com.xiaolin.pojo.Emp">
        select e.*, d.name deptName
        from emp as e
                 left join dept as d on e.dept_id = d.id
        <where>
            <if test="condition.name != null and condition.name != ''">
                e.name like concat('%', #{condition.name}, '%')
            </if>
            <if test="condition.gender != null">
                and e.gender = #{condition.gender}
            </if>
            <if test="condition.begin != null and condition.end != null">
                and e.entry_date between #{condition.begin} and #{condition.end}
            </if>
        </where>
        order by update_time desc
    </select>

    <select id="info" resultType="com.xiaolin.pojo.Emp">
        select e.*
        from emp e
        where id = #{id}
    </select>

    <insert id="insertEmp" useGeneratedKeys="true" keyProperty="id">
        insert into emp(username, password, name, gender, phone, job, salary, image, entry_date, dept_id, create_time,
                        update_time)
        values (#{username}, #{password}, #{name}, #{gender}, #{phone}, #{job}, #{salary}, #{image}, #{entryDate},
                #{deptId},
                #{createTime}, #{updateTime})
    </insert>

    <insert id="insertExprBatch">
        insert into emp_expr (emp_id, begin, end, company, job) values
        <foreach collection="exprList" item="expr" separator=",">
            (#{expr.empId}, #{expr.begin}, #{expr.end}, #{expr.company}, #{expr.job})
        </foreach>
    </insert>

    <select id="listExpr" resultType="com.xiaolin.pojo.EmpExpr">
        select id, begin, end, company, job
        from emp_expr
        where emp_id = #{id}
    </select>

    <delete id="deleteEmp">
        delete
        from emp where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteExpr">
        delete
        from emp_expr where emp_expr.emp_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateExpr">
        update emp_expr set begin = #{expr.begin},end = #{expr.end},company = #{expr.company},job = #{expr.job} where id = #{expr.id}
    </update>

    <update id="updateEmp">
        update emp
        set username   = #{emp.username}
          , password   = #{emp.password}
          , name=#{emp.name}
          , gender=#{emp.gender}
          , phone=#{emp.phone}
          , job=#{emp.job}
          , salary=#{emp.salary}
          , image=#{emp.image}
          , entry_date=#{emp.entryDate}
          , dept_id=#{emp.deptId}
          , update_time=#{emp.updateTime}
        where id = #{emp.id}
    </update>
    
    <select id="getUserInfo" resultType="com.xiaolin.pojo.Emp">
        select a.id,
               a.name,
               a.username
        from emp a
        <where>
            <if test="emp.username != null and emp.username != ''">
                a.username = #{emp.username}
            </if>
            <if test="emp.password != null and emp.password != ''">
                and a.password = #{emp.password}
            </if>
        </where>
    </select>
</mapper>