<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaolin.mapper.OperateLogMapper">
    <insert id="insert">
        insert into operate_log (operate_emp_name, operate_time, class_name, method_name, method_params, return_value,
                                 cost_time)
        values (#{operateEmpName}, #{operateTime}, #{className}, #{methodName}, #{methodParams}, #{returnValue},
                #{costTime});
    </insert>

    <select id="list" resultType="com.xiaolin.pojo.OperateLog">
        select *
        from operate_log a
        order by a.operate_time desc
    </select>
</mapper>